body {
 background-color:black;
 color:white;
  
}
h1 {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px ;
}
/* article.col-12.card {
    width: 930 px;
    height: 850px;
} */
a{
    margin-left: 80px;
    color:#1d2124;
}

p{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Caveat';
    font-size: 20px;
    letter-spacing: 1.0;
    color: red;
}
.note{
    font-family: 'Caveat';
    font-size: 14px;
    letter-spacing: 1.0;
    color: #780000;
}

h1  {
    border-bottom: 2px solid grey;
    background-color:transparent;
 }
p.lead{
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #0055FF ;
    opacity: 100%;
    background-color:chocolate;
}

img.float-left.mr-2 {
    height: 404px;
    width: 300Px; 
}
.card-body{
    background-color: black;
}

.btn{
    display: inline-block;
    color: red;
    position: relative;
    border: transparent;
    margin-left: auto;
}
.fab{
  display: inline-block;
  position: relative;
  border: transparent;
  color: red;
  float: left;
}
.navbar-dark .navbar-brand{
    color: red;
}
img.card-img-top1 {
  
   /* background-image: url(image/soundtrackmovie); */
   height: 277px;
}
.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
.img{
    position: relative;
  
}
.jumbotron{
    background-color: black;
    background-image: url(images/background.jpeg);
    height: 800px;
    opacity: 60%;
}
.jumbotron1{
    background-image:url(images/blackbackground.jpg);
    height: 800px;
    opacity: 95%;
}
.jumbotron2{
    background-image:url(images/slickbackground.jpeg);
    height: 1000px;
    opacity: 95%;
}
.jumbotron3{
    background-image:url(images/44-442751_dark-light.jpg);
    height: auto;
    opacity: 95%;
}
a.navbar-brand  {
    background-color: transparent;
    font-weight: bold;
}
strong{
    display: inline-block;
}
.container {
    padding: 20px;
    margin-top: 10px;

    /* background-image: url(images/slickbackground.jpeg); */
}

/* article.col-12.card {
    height: 1000px;
} */
.card{
    background-color:#1d2124;
}
.card-body1{
    background-color: black;
}
input#exampleInputMessage1.form-control {
    background-color:#1d2124;
    height: 450px;
}
.form-control{
    background-color:#1d2124;
    border:#1d2124;;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 5px;
 }
 footer p  {
    font-size: 10px;
 }


